@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

.header {
  background: linear-gradient(to right, #1f4037, #99f2c8);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.navButton {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0 1rem;
  font-size: 1rem;
  text-decoration: none;
  position: relative;
}

.navButton::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #ffffff;
  transition: width 0.3s;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.navButton:hover::after {
  width: 100%;
}

.logoutBtn {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1rem;
  background: transparent;
  border: 2px solid #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.logoutBtn:hover {
  background: #ffffff;
  color: #1f4037;
}
